.speech, .song, .direction, .name{
    color: black;
}

.name:hover{
    text-shadow: 1px 1px 2px darkgrey;
}

.speech{
    font-size: 15px;
}

.song{
    font-size: 15px;
}

.direction{
    font-size: 8px;
    background-color: lightblue;
}

.direction:hover{
    background-color: darkblue;
    color: white;
}

.name{
    font-size: 15px;
}

.All{
    font-family: sans-serif;
}

.Hilarion, .Florian, .Cyril{
    font-family: "Times New Roman", serif;
}

.Hilarion{
    color: red;
}

.Florian{
    color: blue
}

.Cyril{
    color: green;
}

.speech{
    font-family: "Courier New", mono;
}

.song{
    font-style: italic;
}

table.Offers{
    border-color: aquamarine;
    border-radius: 30px;
    border-width: 8px;
    border-style: solid;
    padding: 5px;
    background-color: beige;
}

